body {
	text-align: center;
	background-color: #206a5d;
	color: #fff;
}

.illustration {
	max-height: 500px;
}

h1,
h2 {
	font-family: "Playfair Display", serif;
}

h1 {
	line-height: 1.5;
}

table {
	margin: 0 auto;
	text-align: left;
}
tr {
	border: #257062 solid 1px;
}

td {
	padding: 5px;
}

.hompegage {
	background-color: #206a5d;
}

.wedding-party h1 {
	font-size: 30px;
}

.wedding-party img {
	max-height: 400px;
}

.wedding-party p {
	text-align: left;
	font-size: 24px;
}
.wedding-party .row {
	align-items: center;
}

.countdown p {
	display: inline;
}

.wedding-party {
	background-color: #206a5d;
	color: #f2deba;
}
