:root {
	--branding-color: #1c5e54;
	--secondary-color: #fcf8f4;
	--heading-font-family: "Playfair Display", serif;
	--default-font-family: "Poppins", sans-serif;
}

body {
	background-color: #206a5d;
	color: #fff;
}

h1,
h2 {
	font-family: "Playfair Display", serif;
}

h1 {
	line-height: 1.5;
}

tr {
	border: #257062 solid 1px;
}

td {
	padding: 5px;
}

a {
	color: white;
}

.hompegage {
	background-color: #206a5d;
}

.homepageBody {
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}

.illustration {
	max-height: 500px;
}

.countdown p {
	display: inline;
}

.wedding-party h1 {
	font-size: 30px;
}

.wedding-party img {
	max-height: 400px;
}

.wedding-party p {
	text-align: left;
	font-size: 24px;
}
.wedding-party .row {
	align-items: center;
}

.wedding-party {
	background-color: #206a5d;
	color: #f2deba;
}

.bigDayBody {
	max-width: 700px;
	margin: 0 auto;
}
