body {
	text-align: center;
	background-color: antiquewhite;
}

.illustration {
	max-height: 500px;
}

h1,
h2 {
	font-family: "Playfair Display", serif;
	color: #4d6780;
}

h1 {
	line-height: 1.5;
}

.wedding-party img {
	max-height: 500px;
}
